* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;
}

body {
  font-family: Tahoma, Arial;
  color: white;
  font-weight: 300;
}

.clear {
  clear: both;
}

h1{
  margin-top: 10px;
  font-size: 1.5em;
  text-decoration: underline;
}

.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  /* height: 600px; */
  /* margin-top: -400px; */
  overflow: hidden;
}

.wrapper .container {
  max-width: 800px;
  margin: 20px auto;
  /* height: 400px; */
  text-align: center;
  /* background-color: rgb(90, 47, 47); */
  border: 3px solid rgba(86, 250, 122, 0.986);
  border-radius: 10px;
  /* border-bottom: 2px solid white; */

}

.wrapper .container .content{
  border-bottom: 2px solid rgb(12, 172, 105); 
  margin: 0 50px 0 50px;
}

.wrapper .container .row {
  /* border-bottom: 2px solid white; */
  margin: 10px;
  padding-bottom: 10px;
  overflow: hidden;
}

.wrapper .container .content .row .row_title{
  float: left;
  width: 40%;
  text-align: right;
}


.wrapper .container .content .row .combobox{
  float: right;
  width: 60%;
}
.wrapper .container .content .row .combobox select{
  width: 50%;
}


button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;    
  background-color: white;
  border: 0;
  margin: 10px;
  padding: 5px 5px;
  color: #838288;
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.25s;
}

button:hover {
  background-color: #d6d7d8;
  color: #0e6440;
}

.wrapper .menu {
  max-width: 800px;
  margin: 20px auto 40px auto;
  text-align: center;
  /* border: 3px solid rgba(86, 250, 122, 0.986); */
  /* border-radius: 10px; */

}

.menu ul li {display: inline}
.menu ul li a {border-bottom: 3px solid #e9e9e9; padding: 10px 30px; color:#eeff00; text-decoration: none; } 
.menu ul li a.active{border-bottom: 3px solid #07ff1c; font-weight: bold}
.menu ul li a:hover{border-bottom: 3px solid #ffe600;}