* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: Tahoma, Arial;
  color: white;
  font-weight: 300;
}

.clear {
  clear: both;
}

.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  overflow: hidden;
}

.wrapper .container {
  max-width: 800px;
  margin: 20px auto;
  text-align: center;
  border: 3px solid rgba(86, 250, 122, 0.986);
  border-radius: 10px;

}
 
.wrapper .container .title{
  margin-top: 10px;
}

.wrapper .container .title h1{
  font-size: 1.5em
}

.wrapper .form p {
  font-weight: bold;
}

.wrapper  .container .form .row {
  margin: 20px auto 20px auto;
  padding: 5px;
  left: 15%;
  width: 70%;
  overflow: hidden;
  border-bottom: 2px solid white;
}

.wrapper .container .form .row .title {
  margin-top: 5px;
  float: left;
}


.wrapper .container .form .row .textbox input[type=text] {
  width: 250px;
  height: 30px;
  float: right;
  font-family: Tahoma, Arial;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}



.wrapper .container .form .img_group {
  overflow: hidden;
  margin: auto;
  left: 10%;
  width: 80%;
}


.wrapper .container .form .img_group .image_box1 {
  margin: 10px;
  float: left;
}


/* .img_frame{
  width: 90px;
  height: 90px;
  margin: 10px;
  border: 2px solid red;
} */

.wrapper .container .form .img_group .image_box1 img {
  width: 90px;
  height: 90px;
  margin: 10px;
}






.wrapper .container .form .img_group .image_box2 {
  margin: 10px;
  float: right;
}

.wrapper .container .form .img_group .image_box2 img {
  width: 90px;
  height: 90px;
  margin: 10px;
}



 button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;    
  background-color: white;
  border: 0;
  margin: 20px;
  padding: 10px 10px;
  color: #838288;
  border-radius: 3px;
  width: 250px;
  cursor: pointer;
  font-size: 18px;
  transition-duration: 0.25s;
}


.wrapper .container .form button:hover {
  background-color: #d6d7d8;
  color: #0e6440;
} 




input[type=file] {
  margin: auto;
  display: block;
  color: rgb(230, 212, 212);
  left: 10%;
  width: 80%;
}

.wrapper .menu {
  max-width: 800px;
  margin: 20px auto 40px auto;
  text-align: center;
  /* border: 3px solid rgba(86, 250, 122, 0.986); */
  /* border-radius: 10px; */

}

.menu ul li {display: inline}
.menu ul li a {border-bottom: 3px solid #e9e9e9; padding: 10px 30px; color:#eeff00; text-decoration: none; } 
.menu ul li a.active{border-bottom: 3px solid #07ff1c; font-weight: bold}
.menu ul li a:hover{border-bottom: 3px solid #ffe600;}