* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 300;
  }
  body {
    font-family: Tahoma, Arial;
    color: white;
    font-weight: 300;
  }
   
  .wrapper {
    background: #50a3a2;
    background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 600px;
    /* margin-top: -400px; */
    overflow: hidden;
  }

  .wrapper .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 80px 0;
    height: 400px;
    text-align: center;
  }

  .wrapper .container h1{  
        font-size: 40px;
        transition-duration: 1s;
        transition-timing-function:ease-in-out;
        font-weight: 200;
  }

  .wrapper .container .form {
    padding: 20px 0;
    position: relative;
    z-index: 2;
  }

  .wrapper .container .form input {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;
    border: 1px solid rgba(255, 255, 255, 0.4);
    background-color: rgba(255, 255, 255, 0.2);
    width: 250px;
    border-radius: 3px;
    padding: 10px 15px;
    margin: 0 auto 10px auto;
    display: block;
    text-align: center;
    font-size: 18px;
    color: white;
    transition-duration: 0.25s;
    font-weight: 300;
  }

  .wrapper .container .form input::placeholder{
    color: rgba(255, 255, 255, 0.356);
  }

  .wrapper .container .form input:hover {
    background-color: rgba(255, 255, 255, 0.4);
  }

  .wrapper .container .form button {
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;    
    background-color: white;
    border: 0;
    margin: 20px;
    padding: 10px 10px;
    color: #838288;
    border-radius: 3px;
    width: 250px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
  }

  .wrapper .container .form button:hover {
    background-color: #d6d7d8;
    color: #0e6440;
  }

  .wrapper .container .form .thongbao{
      color: rgb(224, 213, 213);
  }

  .wrapper .container .form .thongbao span{
      font-weight: bold;
  }