* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: Tahoma, Arial;
  color: white;
  font-weight: 300;
}

.background {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background .wrapper {
  border: 3px solid rgba(86, 250, 122, 0.986);
  border-radius: 30px;
  position: absolute;
  top: 15%;
  left: 20%;
  width: 60%;
  /* height: 80%; */

}

.background .wrapper .btn_group{
  position: relative;
  top: 10%;  
  width: 100%;
  height: 80%;
  
  /* border: 2px solid blue; */
}

.background .wrapper .btn_group .form{ 
  /* position: relative;  
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%; */
  margin: 20px;
  /* background-color: red; */
  
}

.background .wrapper .btn_group .form button {
  -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    outline: 0;    
    background-color: white;
    border: 0;
    margin: 20px auto 25px auto;
    color: #5f48d1;
    border-radius: 20px;
    position:relative;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 70px;
    cursor: pointer;
    font-size: 18px;
    transition-duration: 0.25s;
    font-weight: bold;
}

.background .wrapper .btn_group .form button:hover {
  background-color: #d6d7d8;
  color: #0e6440;
}