* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
  text-align: center;
}

body {
  font-family: Tahoma, Arial;
  color: white;
  font-weight: 300;
}

.clear {
  clear: both;
}

h1{
  margin-top: 10px;
  font-size: 1.5em;
  text-decoration: underline;
}

img{
  width: 70px;
  height: 70px;
  margin: 20px auto 20px auto;
}

.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  /* height: 600px; */
  /* margin-top: -400px; */
  overflow: hidden;
  /* min-height: 2000px; */
}

.wrapper .container {
  max-width: 800px;
  margin: 20px auto;
  /* height: 400px; */
  text-align: center;
  /* background-color: rgb(90, 47, 47); */
  border: 3px solid rgba(86, 250, 122, 0.986);
  border-radius: 10px;

}

.wrapper .container .content {
  margin: 10px auto 10px auto;
  /* height: 100px; */
  width:700px;
  /* background-color: white; */
  overflow: hidden;
  border-bottom: 2px solid yellow
}

.wrapper .container .content .left {

  /* height: 100px; */
  width: 30%;
  /* background-color: blue; */
  float: left;
  margin: 40px auto auto auto;
  overflow: hidden;
  
}

.wrapper .container .content .left .image_content1{
  float: left;
  margin-left: 20px;
  border: 2px solid white;
  padding: 3px 3px 3px 3px;
}
.wrapper .container .content .left .image_content2{
  float: right;
  margin-right: 20px;
  border: 2px solid white;
  padding: 3px 3px 3px 3px;
}

.wrapper .container .content .right {
  /* height: 100px; */
  width: 60%;
  /* background-color: rgb(55, 0, 128); */
  float: right;
}

 .row {
  margin: 10px auto 10px auto;
  /* padding: 5px; */
  /* border: 2px solid red; */
  /* left: 15%; */
  /* width: 70%; */
  overflow: hidden;
  /* border-bottom: 2px solid white; */
}

.row .title {
  margin-top: 5px;
  float: left;
  /* background-color:red; */
}

input[type=text] {
  width: 250px;
  height: 30px;
  float: right;
  font-family: Tahoma, Arial;
  color: rgb(0, 0, 0);
  text-align: center;
  font-weight: bold;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;    
  background-color: white;
  border: 0;
  margin: 10px;
  padding: 5px 5px;
  color: #838288;
  border-radius: 3px;
  width: 200px;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  transition-duration: 0.25s;
}

button:hover {
  background-color: #d6d7d8;
  color: #0e6440;
}

.menu {
  /* margin-top: 25px; */
  /* margin-bottom: 25px; */
  /* background-color: white; */
  margin: 20px auto 60px auto;
}

.menu ul li {display: inline}
.menu ul li a {border-bottom: 3px solid #e9e9e9; padding: 10px 30px; color:#eeff00; text-decoration: none; } 
.menu ul li a.active{border-bottom: 3px solid #07ff1c; font-weight: bold}
.menu ul li a:hover{border-bottom: 3px solid #ffe600;}