* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 300;
}

body {
  font-family: Tahoma, Arial;
  color: white;
  font-weight: 300;
}

.clear{
  clear: both;
}

/* .background {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background .wrapper {
  border: 3px solid rgba(86, 250, 122, 0.986);
  border-radius: 30px;
  position: absolute;
  top: 5%;
  left: 10%;
  width: 80%;

} */

.wrapper {
  background: #50a3a2;
  background: linear-gradient(to bottom right, #365858 0%, #1c9160 100%);
  position: absolute;
  top: 0%;
  left: 0;
  width: 100%;
  /* height: 600px; */
  /* margin-top: -400px; */
  overflow: hidden;
}

.wrapper .container {
  width: 80%;
  margin: 20px auto;
  /* height: 400px; */
  text-align: center;
  /* background-color: rgb(90, 47, 47); */
  border: 3px solid rgba(86, 250, 122, 0.986);
  border-radius: 10px;
  /* border-bottom: 2px solid white; */

}



 .wrapper .container h3{
  text-align: center;
  margin-top:10px;
}

.wrapper .container .row {
  left: 10%;
  width: 80%;
  margin: 5px auto;
  /* height: 400px; */
  text-align: center;
  /* background-color: rgb(90, 47, 47); */
  /* border: 3px solid rgba(86, 250, 122, 0.986); */
 
  overflow: hidden;

}

.wrapper .container .row .frame {
  float: left;
  margin: 5px 15px 5px 5px;
}

.wrapper .container .row .frame1 {
  float: left;
  margin: 5px 15px 5px 5px;
}

.wrapper .container .row .frame2 {
  float: left;
  margin: 5px 15px 5px 5px;
  /* border: 2px solid white; */
}

.type_selector{
  width: 120px;
}

button {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;    
  background-color: white;
  /* border: 3px solid red;   */
  padding: 5px 5px;
  color: #838288;
  border-radius: 3px;  
  cursor: pointer;
  font-size: 15px;
  transition-duration: 0.25s;

  margin-left:0%;
  margin-bottom: 10px;
  width: 20%;
  
}
 button:hover {
  background-color: #d6d7d8;
  color: #0e6440;
}

.chartContainer{
  margin: 30px;
  height: 370px;
  margin-left: 15%;
  width: 70%;
}

input[type="text"]{
  text-align: center;
}

/* Center tables for demo */
table {
  margin: 0 auto;
}

/* Default Table Style */
table {
  color: #333;
  background: white;
  border: 1px solid grey;
  font-size: 12pt;
  border-collapse: collapse;
}
table thead th,
table tfoot th {
  color: #777;
  background: rgba(0,0,0,.1);
}
table caption {
  padding:.5em;
  color: white;
}
table th,
table td {
  padding: .5em;
  border: 1px solid lightgrey;
  text-align: right;
}

.wrapper .menu {
  max-width: 800px;
  margin: 20px auto 40px auto;
  text-align: center;
  /* border: 3px solid rgba(86, 250, 122, 0.986); */
  /* border-radius: 10px; */

}

.menu ul li {display: inline}
.menu ul li a {border-bottom: 3px solid #e9e9e9; padding: 10px 30px; color:#eeff00; text-decoration: none; } 
.menu ul li a.active{border-bottom: 3px solid #07ff1c; font-weight: bold}
.menu ul li a:hover{border-bottom: 3px solid #ffe600;}